<settings>
	<servers>
		<server>
			<id>github</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GITHUB_TOKEN}</password>
		</server>
	</servers>
    <profiles>
        <profile>
            <id>wakamiti</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
				<repository>
                    <id>github</id>
					<url>https://maven.pkg.github.com/wakamiti/*</url>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </pluginRepository>
                <pluginRepository>
                    <id>github</id>
					<url>https://maven.pkg.github.com/wakamiti/*</url>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>wakamiti</activeProfile>
    </activeProfiles>
</settings>
