#
# This workflow deploys snapshot versions of a Maven project to a repository.
#
on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      GITHUB_ACTOR: ${{ github.actor }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PACKAGES_URL: ${{ vars.PACKAGES_URL }}
    steps:

      # Checks out the repository code.
      - uses: actions/checkout@v4

      # Sets up Java Development Kit (JDK) version 25 using the Oracle
      # distribution.
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: '25'
          cache: maven

      # Caches Maven settings file to avoid re-downloading it.
      - name: Cache Maven settings
        uses: actions/cache@v4
        with:
          path: ~/.m2/settings.xml
          key: settings-xml

      # Caches Maven dependencies to reduce build time.
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: maven-

      - name: Cache Java JRI
        uses: actions/cache@v4
        if: ${{ hashFiles('**/src/**') != '' }}
        with:
          path: '**/.jri'
          key: ${{ runner.os }}-jri-${{ hashFiles('~/.m2/repository/**/wakamiti-parent/**/pom.xml') }}
          restore-keys: ${{ runner.os }}-jri-

      - name: Cache Go binaries
        uses: actions/cache@v4
        if: ${{ hashFiles('**/src/**') != '' }}
        with:
          path: '**/.go'
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.mod') }}
          restore-keys: ${{ runner.os }}-go-

      # Verifies if the current version is a snapshot. If snapshot, sets package
      # identifier in the environment variable
      - name: Check Snapshot
        run: |
          version=$(mvn -q help:evaluate -Dexpression=project.version -DforceStdout)
          if [[ $version == *-SNAPSHOT ]]; then
            groupId=$(mvn -q help:evaluate -Dexpression=project.groupId -DforceStdout)
            artifactId=$(mvn -q help:evaluate -Dexpression=project.artifactId -DforceStdout)
            echo "PACKAGE=${groupId}.${artifactId}" >> $GITHUB_ENV
          else
            echo "::warning::non-snapshot version $version deployment ignored"
          fi

      # Deletes old versions of the package from Maven repository. Only runs if
      # a valid package is detected
      - name: Remove old packages
        uses: smartsquaregmbh/delete-old-packages@v0.8.1
        if: env.PACKAGE != ''
        continue-on-error: true
        with:
          organization: wakamiti
          type: maven
          keep: 0
          names: ${{ env.PACKAGE }}

      # Builds and deploys the snapshot to Maven repository. Only runs if a
      # valid package is detected
      - name: Build and Deploy
        if: env.PACKAGE != ''
        run: |
          mvn deploy -DskipTests 
